<!DOCTYPE html>
<html>
  <head>
    <title>WalletApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <nav class="actions">
      <%= link_to "Usuários", users_path %>
    </nav>
    <% if notice %>
      <p class="flash flash-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="flash flash-alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
